{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="bg-white text-center text-gray-800 p-8 rounded-lg mb-8 shadow-md">
        <h1 class="text-4xl font-bold">Bienvenue</h1>
        {% if app.user %}
            <p class="text-xl mt-2">Bonjour, <span class="font-bold text-gray-600">{{ app.user.name }} {{ app.user.lastname }}</span> !</p>
        {% else %}
            <p class="text-xl mt-2">Créer un compte et rejoignez-nous !</p>
        {% endif %}
    </div>

    <div class="mt-5">
        <h2 class="text-2xl mb-4 text-gray-800">Produits récemment consultés</h2>
        <div class="flex gap-5 overflow-x-auto py-2">
            {% for product in recentlyViewedProducts %}
                <a href="{{ path('product_detail', { id: product.id, category: product.defaultCategory.id }) }}" class="flex-none w-48 border border-gray-300 rounded-lg overflow-hidden bg-white shadow-md transition-transform transform hover:scale-105">
                    {% if product.image %}
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full h-40 object-cover">
                    {% else %}
                        <img src="/path/to/default-image.jpg" alt="Image par défaut" class="w-full h-40 object-cover">
                    {% endif %}
                    <div class="p-2">
                        <h3 class="text-lg font-medium">{{ product.name }}</h3>
                        <p class="text-sm text-gray-500">{{ product.description }}</p>
                        <strong class="block mt-1">Prix : {{ product.price }} €</strong>
                    </div>
                </a>
            {% else %}
                <p>Aucun produit récemment consulté.</p>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2 class="text-2xl mb-4 text-gray-800">Nos produits les mieux notés</h2>
        <div class="flex gap-5 overflow-x-auto py-2">
            {% for product in bestRatedProducts %}
                <a href="{{ path('product_detail', { id: product.id, category: product }) }}" class="flex-none w-48 border border-gray-300 rounded-lg overflow-hidden bg-white shadow-md transition-transform transform hover:scale-105">
                    {% if product.image %}
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full h-40 object-cover">
                    {% else %}
                        <img src="/path/to/default-image.jpg" alt="Image par défaut" class="w-full h-40 object-cover">
                    {% endif %}
                    <div class="p-2">
                        <h3 class="text-lg font-medium">{{ product.name }}</h3>
                        <p class="text-sm text-gray-500">{{ product.description }}</p>
                        <strong class="block mt-1">Note moyenne : {{ product.avgRating|number_format(1) }}</strong>
                    </div>
                </a>
            {% else %}
                <p>Aucun produit trouvé.</p>
            {% endfor %}
        </div>
    </div>

    <div class="mt-5">
        <h2 class="text-2xl mb-4 text-gray-800">Nos produits les moins chers</h2>
        <div class="flex gap-5 overflow-x-auto py-2">
            {% for product in cheapestProduct %}
                <a href="{{ path('product_detail', { id: product.id, category: product.defaultCategory.id }) }}" class="flex-none w-48 border border-gray-300 rounded-lg overflow-hidden bg-white shadow-md transition-transform transform hover:scale-105">
                    {% if product.image %}
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full h-40 object-cover">
                    {% else %}
                        <img src="/path/to/default-image.jpg" alt="Image par défaut" class="w-full h-40 object-cover">
                    {% endif %}
                    <div class="p-2">
                        <h3 class="text-lg font-medium">{{ product.name }}</h3>
                        <p class="text-sm text-gray-500">{{ product.description }}</p>
                        <strong class="block mt-1">Prix : {{ product.price }} €</strong>
                    </div>
                </a>
            {% else %}
                <p>Aucun produit pas cher actuellement.</p>
            {% endfor %}
        </div>
    </div>

    <div class="mt-5">
        <h2 class="text-2xl mb-4 text-gray-800">Produit le plus vendu</h2>
        {% if mostSoldProduct %}
            <a href="{{ path('product_detail', { id: mostSoldProduct.id, category: mostSoldProduct.defaultCategory.id }) }}" class="flex-none w-48 border border-gray-300 rounded-lg overflow-hidden bg-white shadow-md transition-transform transform hover:scale-105">
                {% if mostSoldProduct.image %}
                    <img src="{{ mostSoldProduct.image }}" alt="{{ mostSoldProduct.name }}" class="w-full h-40 object-cover">
                {% else %}
                    <img src="/path/to/default-image.jpg" alt="Image par défaut" class="w-full h-40 object-cover">
                {% endif %}
                <div class="p-2">
                    <h3 class="text-lg font-medium">{{ mostSoldProduct.name }}</h3>
                    <p class="text-sm text-gray-500">{{ mostSoldProduct.description }}</p>
                    <strong class="block mt-1">Quantité vendue : {{ mostSoldProduct.totalSold }}</strong> <!-- Display total sold quantity -->
                </div>
            </a>
        {% else %}
            <p>Aucun produit vendu jusqu'à présent.</p>
        {% endif %}
    </div>

{% endblock %}
